<h1><%= @book.title %> - Quantity: <%= @book.quantity %></h1>
<h3>Price: $<%= @book.price %></h3>

<%= link_to "Back to All Books", books_path %>
<%= link_to "Edit", edit_book_path %>
<%= link_to "Delete", book_path(@book), method: :delete %>
